{% extends 'base.html' %}


{% block title %}ABOUT ME{% endblock title %}
{% block content %}


<div id='#about' class="about_main_container container-fluid">
  <div class="about__ container-fluid ">

    <div class="post_detail_brand_container container-fluid sticky-top ">
      <div class="post_detail_brand">
        <a style='cursor:pointer;' id='back' class="post_detail_back_home">BACK</a>
        <h1 class='post_detail_brand_text mt-2'>MGEEK</h1>
      </div>
    </div>
   <!--we can use animated picture of our-self-->
   <div class="about__title">
     <h1 class='about__title__text'>ABOUT ME</h1>
   </div>

   <div class="about__content">
     <div class="about__content__text">
      I’m MANI, a 28 year old geek and programmer living in Iran with my family and
      my  wonderful friends.I primarily read literary Si-Fi and Fantasy.
      Spend free times at my local indie bookstore, and love my friends circle.
      If I’m not reading I’m probably watching a conceptual movie, developing a new program, drinking coffee in a Cafe , or practicing a new language.
      I started this blog in early of 2021 as a way to share Literary Lifestyle Content and Geek Culture.
      Going forward, I’ll be making my way through my unread shelf, exploring the literary community around me,and of course continuing to recommend all the best books
      are important for Geek Community.
      You can see much more over on <a style='color:#3d5a70;' href="https://instagram.com/maniizadi">Instagram</a> and send email through <span style='color:#3d5a70;'>maniggeek@gmail.com</span> Cheers, friends!
     </div>
     <div class="signiture__">
       <p class='signiture__text'>sincerely Mani</p>
     </div>

   </div>
  </div>
</div>
<hr class='hr_line'>

{% endblock content %}
